body{
    margin :auto;
}
#header{
    height:60px;
   /* border:2px solid green;*/

    background-color: #e09c83;
}
#logo{
    font-size:30px;
    color:red;
    margin-top:1%;
    margin-left:1%;
    position:absolute
}
#social{
    float:right;
    margin-right:1%

}
.slogo{
    height:50px;
    width:50px
}
a {
    text-decoration:none
}

/* search start*/
#search{
    height:400px;
   /* border:2px solid rgb(219, 193, 42); */
    background-image:url('images/food-wallpaper.png');
    background-size:cover;
    background-size:100% 400px
}
#slogo{
    height: 150px;
    width:150px;
    background-color:aliceblue;
    border-radius:50%;
    margin-left:45%;
    position:absolute;
    margin-top:4%;
    font-size:90px;
    color:orange;
    animation:movelogo 10s infinite;
}
@keyframes movelogo {
    0%{ margin-left:42%}
    25%{margin-left:38%}
    50%{margin-left:42%}
    75%{margin-left:46%}
    100%{margin-left:42%}

}
/*
#slogo:hover{
    transition:margin-left 10s;
    margin-left:42%
} */

#slogo> span{
    margin-left:28%;
    position:absolute;
    margin-top:11%;
}
.find{
    margin-left:26%;
    position:absolute;
    margin-top:17%;
    font-size:244%;
    color:orange

}
.dropdown{
    height:12%;
    width:60%;
    margin-left:25%;
    margin-top:22%;
    position:absolute
}
.restaurantSelect{
    width:50%
}
select{
    height:60px;
    width:40%
}
/* search end*/
.quicksearch{
    height:500px;
    width:80%;
    position:relative;
    margin-left:10%;
    margin-top:4%;
    display:inline-block
    

}

.quickheading{
    display:block;
    font-size:30px;
    font-weight:bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#ffa500;
    margin-left:2%
}
.quickheading:hover{
    color:#ca5f21
}
.quicksubheading{
    display:block;
    font-size:19px;
    font-weight:bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:azure;
    margin-left:2%;
    line-height:2

}
.tiles{
    height:180px;
    width:30%;
    box-shadow:10px 20px 10px rgb(148, 150, 139);
    float:left;
    margin-left:2%;
    margin-top:3%;
    animation:movingtiles 15s infinite;
}
@keyframes movingtiles {
    0%{transform:rotate(-10deg)}
    25%{transform:rotate(10deg)}
    50%{transform:rotate(-10deg)}
    75%{transform:rotate(10deg)}
    100%{transform:rotate(-10deg)}
}
 /*.tiles:hover{
    
    transform:scale(1.1)
    transform:rotate(-10deg) 
    transform:rotate(10deg)
    transform:skewX(-10deg)
    transform:skewy(10deg)
} */
.compartment1{
    height:180px;
    width:50%;
    float:left
}
.compartment1>img{
    height:180px;
    width:100%
    
}
.compartment2{
    width:40%;
    float: left;
    height:100px;
    margin-left: 5%;
    margin-top: 12%;
}

.componentHeading{
    color:#ac2e31;
    font-size: 25px;
}

.componentSubHeading{
    color:aliceblue;
    font-size: 15px;
}

@media screen and (max-width:1400px){
    body{
        background-color:#9b8c36
    }
}
@media screen and (max-width:1200px){
    body{
        background-color:#40ad8d
    }
    
.dropdown{
    
    margin-left:22%;
    margin-top:25%;
}
.find{
    margin-left:23%;
    
    margin-top:19%;
}

}
@media screen and (max-width:1000px){
    body{
        background-color:#2d6788
    }
    .dropdown{
    
        margin-left:20%;
        margin-top:33%;
    }
    .find{
        margin-left:23%;
        font-size:198%;
        margin-top:25%;
    }
    

.tiles {
    
    width: 45%;
}
.quicksearch{
    height:712px;
}
}
@media screen and (max-width:800px){
    body{
        background-color:#318d45
    }
#slogo {
       
        margin-left: 36%;
       
}
.dropdown{
    
    margin-left:20%;
    margin-top:38%;
}
.find{
    margin-left:15%;
    font-size:187%;
    margin-top:29%;
}


.tiles {

width: 80%;
}
.quicksearch{
        height:1295px;

}
}

