body{
    margin:auto
}
/*heading start*/
a{
    text-decoration:none
}
#heading{
    height:60px;
    background-color:rgb(95, 71, 41);
    
}
#icon{
    font-size:30px;
    color:palegreen;
    margin-top:1%;
    margin-left:1%;
    position:absolute;
    float:left
}
.social{
    float: right;
    margin-right:2%;
    margin-top:0%;
    
}
.checked{
    font-size:40px;
    color:rgba(44, 230, 144,1);
    margin-top:5%;

    
}
/*heading end*/
#detailspage{
    height:670px;
    border-style:dotted;
    margin-top:0%;
    background-color:rgb(120, 148, 190)
}
.imagecontainer{
    height:270px;
    width:321px;
    border-style:ridge;
    border-color:rgb(10, 10, 10);
    margin-left:9%;
    margin-top:6%;
    float:left
}
.imagecontainer>img{
    height:270px;
    width:100%
}

.textcontainer{
    height:363px;
    width:55%;
    margin-left:37%;
    margin-top:6%
}
.check{
    color:rgb(228, 52, 52);
    float:left
}
.strik{
    font-size:20px;
    font-weight:bold
}
.imgIcon{
    width:80px;
    height:80px;
    margin-left:2%;
    float:left
}
.feature_container{
    display: inline-block;
    width:100%;
}
.feature{
    float: left;
    margin-left:5%
}
h2{
    font-size:35px;
    color:green
}
.btn{
    height:50px;
    width:200px;
    font-size:20px;
    color:white;
    background-color:rgb(115, 228, 81)
}
.btn-checkout{
    background-color:rgb(185, 143, 53)
}
